# Página de error personalizada
ErrorDocument 403 /itv/acceso-restringido.php

# Bloquear todos los .json
<FilesMatch "\.json$">
  Require all denied
</FilesMatch>

# Bloquear todos los .log
<FilesMatch "\.log$">
  Require all denied
</FilesMatch>

# Proteger logs
<Files "ips_bloqueadas.log">
  Require all denied
</Files>

<Files "ips_permanentemente_bloqueadas.log">
  Require all denied
</Files>
